:root {
  --text-light: #6b6f76;
}

h1 {
  font-weight: 700 !important;
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1.1rem;
  color: var(--text-light);
}
#gradient-box {
  background: linear-gradient(135deg, #cb5eee 0%, #4be1ec 100%);
}
.custom-container {
  padding: 0 10vw;
}
#gradient-box h1 {
  font-size: 2.5rem;
}
@media (min-width: 992px) {
  .custom-container {
    padding: 0 20vw;
  }
}
h5 a {
  text-decoration: none;
  color: var(--text-light);
}
