@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
:root {
  --text-light: #6b6f76;
}
html,
body {
  margin: 0;
  padding: 0 2vw;
  font-size: 14px;
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}
#logo {
  width: 80px;
  padding: 20px 0;
}
.navbar-light .navbar-toggler {
  border: 0;
}

header h1,
header h2,
header h4 {
  font-weight: 700 !important;
  padding-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}
header h1 {
  letter-spacing: -2.5px !important;
}
#social-life {
  background: -webkit-linear-gradient(
    323deg,
    rgba(111, 181, 245, 0.77) 17.24%,
    #f265dc 98.87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header h2 {
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 1.4rem;
  line-height: 30px;
  color: var(--text-light);
}

header h4 {
  color: var(--text-light);
  font-size: 1.3rem;
  font-weight: 400 !important;
  line-height: 1.4;
  padding: 5vh 0px;
  margin-bottom: 5vh;
  width: 100%;
  max-width: 700px;
  border-bottom: solid 0.5px rgb(212, 212, 212);
}
.ss {
  width: 300px;
}

main h1 {
  color: var(--text-light);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

main h2 {
  font-weight: 700;
}

.waitlist-btn {
  background-color: #5e5df0;
  color: #ffffff;
  box-shadow: 0 10px 20px -10px rgb(110, 121, 214);
  border: none;
  border-radius: 999px;
  padding: 12px 20px;
  font-weight: bold;
}

#bottom-text {
  font-weight: 400 !important;
  line-height: 1.4;
  padding: 20px 0px;
  margin-bottom: 20px;
  border-bottom: solid 0.5px rgb(212, 212, 212);
  text-align: center;
}

#bottom-text h6 {
  font-size: 1.2rem;
}

#bottom-text h4 {
  font-size: 1.7rem;

  color: var(--text-light);
  font-weight: 300;
}
footer {
  color: rgb(65, 65, 65);
}
footer i {
  font-size: 30px;
}
footer img {
  width: 70px;
  margin: 10px 0;
  display: block;
}
#iframe-box {
  width: 100%;
}
#iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
#iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #iframe-box {
    width: 50vw;
  }
  header h1 {
    font-size: 3.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
